__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

dist/
builds/extension-stage/
*.zip
!builds/*.zip

.idea/
.vscode/

Thumbs.db
.DS_Store

*.blend1
*.blend2
*.blend@
